.nav, .pagination, .carousel, .panel-title a {
  cursor: pointer; }

.container {
  background-color: #F7F7F9; }

.high {
  background-color: #FF5E5E; }

.normal {
  background-color: #FCF0B3; }

.low {
  background-color: #7999FC; }
